@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Glory:ital,wght@0,100..800;1,100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", "Inter", "Georgia"; /*fontes do site*/
 }

body{
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100vh; /*altura maxima*/
    background-color: rgb(248, 248, 248); /* cor do fundo do site todo*/
}

.calculador{
    width: 305px;
    background-color: rgb(0, 0, 0); /* cor do fundo da calculadora*/
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(64, 117, 197); 
    overflow: hidden; /*Corta o conteúdo que ultrapassa os limites do elemento*/
}

.resultado{
    height: 75px;
    padding: 20px;
    text-align: right;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*4 colunas*/
    grid-gap: 1px; /* distância entre os pixels*/
}

.buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /*largura dos numeros*/
    height: 60px; /*altura dos numeros*/
    color: #fff6f6;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonzero{
    grid-column: span 2; /*zero ocupa o espaço de duas casas*/
}

.fundo-azulescuro{
    background-color: #0e374e;
}

.fundo-azulclaro, .buttonzero{
    background-color: #228399;
}

.fundo-azul{
    background-color: #0e374e;
}

.fundo-azul1{
    background-color: #145d87;
}

button:active{
    opacity: 0.8;
}

/* historico*/ 
.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.historico {
    background-color: #f3f3f3;
    width: 240px;
    max-height: 420px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    overflow-y: auto;
}

.historico h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #145d87;
}

.lista-historico {
    list-style: none;
    padding-left: 0;
}

.lista-historico li {
    padding: 8px 10px;
    margin-bottom: 8px;
    background: white;
    border-left: 4px solid #145d87;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    font-size: 1rem;
    color: #333;
}
